node_modules
.next/
.env
.trae/
.figma/4417_1401/index.jsx
.figma/4417_1401/index.module.scss
.figma/4553_426/index.jsx
.figma/4553_426/index.module.scss
.figma/image/2c2f11b6-d300-4e6b-917a-4cb6d9131240.png
.figma/image/bc5a0c76-5133-42ed-ba67-2f31774553c1.png
.figma/image/mhzquu1u-fssgo9l.svg
.figma/image/mhzquu1v-ijn22dy.svg
.figma/image/mhzquu1v-knetma7.svg
.figma/image/mhzquu1v-qfnazgy.svg
.figma/image/mhzquu1v-ufm5xy2.svg
.figma/image/mhzquu1w-1gsncx0.svg
.figma/image/mhzquu1w-1o53jm5.svg
.figma/image/mhzquu1w-6f82qvc.svg
.figma/image/mhzquu1w-7z97yzz.svg
.figma/image/mhzquu1w-cw43f6c.svg
.figma/image/mhzquu1w-cxwyrz2.svg
.figma/image/mhzquu1w-erm2cpp.svg
.figma/image/mhzquu1w-ibcbd2u.svg
.figma/image/mhzquu1w-ko7ofal.svg
.figma/image/mhzquu1w-quv5iv0.svg
.figma/image/mhzquu1w-ulzbq3u.svg
.figma/image/mhzquu1w-xux1ifw.svg
.figma/image/mhzquu1w-zq2gn3a.svg
.figma/image/mhzquu1x-4c8jivr.png
.figma/image/mhzquu1x-4obz6wv.svg
.figma/image/mhzquu1x-5aytupr.svg
.figma/image/mhzquu1x-9avhdgv.svg
.figma/image/mhzquu1x-c7lzmu7.svg
.figma/image/mhzquu1x-ct3oz1m.svg
.figma/image/mhzquu1x-eztazoz.svg
.figma/image/mhzquu1x-tahnrdc.svg
.figma/image/mhzquu1x-uujdkbh.svg
.figma/image/mhzquu1x-x7xliki.svg
.figma/image/mhzquu1x-zmyuwiw.svg
.figma/image/mhzquu1y-j6eedc2.svg
.figma/image/mhzquu1y-jvim55w.svg
.figma/image/mhzquu1y-kjy3qui.svg
.figma/image/mhzquu1y-kui9en3.svg
.figma/image/mhzquu1y-n2n1jvw.svg
.figma/image/mhzquu1y-s93h27b.svg
.figma/image/mhzquu1y-u3ifaie.svg
.figma/image/mhzquu1y-ujjjmqt.svg
.figma/image/mhzquu1y-vx36n2n.svg
.figma/image/mhzquu1y-xtx9iy8.svg
.figma/image/mhzqy50k-1ygzlgz.svg
.figma/image/mhzqy50k-gulmyyk.svg
.figma/image/mhzqy50k-iun7w24.svg
.figma/image/mhzqy50k-qwrxvit.svg
.figma/image/mhzqy50k-v64y04w.svg
.figma/image/mhzqy50k-znchozc.svg
.figma/image/screenshot_4417_1401.png
.figma/image/screenshot_4553_426.png
.eslintcache

# Backup files
*.original.tsx
*.original.ts
test_output.txt
tsconfig.tsbuildinfo

# Tempo

node_modules/
**/tempobook/dynamic/
**/tempobook/storyboards/
